.main-container {
  display: flex;
  gap: 1.5rem;
  padding: 2rem;
  align-items: flex-start;
  flex-wrap: wrap; /* allows sections to stack if small screen */
}

/* LEFT SECTION (problem, test cases) */
.left-section {
  flex: 1;
  max-width: 40%;
  overflow-y: auto;
  height: calc(100vh - 4rem); /* fills screen and allows scroll */
}


/* RIGHT SECTION (code editor) */
.right-section {
  flex: 1;
  max-width: 60%;
}
